.root{
    background: gray;
}

.logo{
    max-height: 275px;
    border-radius: 100px;
}

.e-card{
    background: black;
    color: yellow;
    border-radius: 65px;
    max-width: 750px;
    height: 625px;
    margin: 0 auto;
}

.center-name{
    text-align: center;
}

.infos{
    max-width: 400px;
    margin: 0 auto;
}

.d-btn-next{
    height: 80px;
    margin-top: 25px;
}

.btn-next{
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 80px;
    color: yellow;
    border: 3px solid yellow;
}

.f-films{
    margin-top: 25px;
}
