.root{
    background: black;
}

.container{
    width: 490px;
    margin: 0 auto;
    background: #FFFFFF;
    border: 5px solid yellow;
    border-radius: 3px;
    height: 600px;
}

.header{
    height: 150px;
    border-bottom: 3px solid yellow;
    border-radius: 3px;
}

.header-logo{
    height: 150px;
    width: 490px
}

.quests{
    position: absolute;
    border-radius: 3px;
    width: 490px;
    height: 447px;
    background: black;
    color: yellow;
}

.btn-sw{
    background-color: #4CAF50;
    border: solid;
    color: yellow;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    position: absolute;
    left: 35%;
}

.d-btn-sw{
    bottom: 0%;
    width: 490px;
    height: 60px;
    position: absolute;
}
/* SW */

.d-logo{
    position: absolute;
    width: 250px;
    height: 140px;
    margin-left: 375px;
}

.logo{
    position: absolute;
    width: 250px;
    top: -20px;
}

.upload{
    height: 125px;
}

.form-upload{
    width: 180px;
    height: 125px;
    left: 44%;
    position: absolute;

}

.lb-form-upload{
    position: absolute;
    font-size: 14px;
    text-transform: uppercase;
    top: 5%;
}

.btn-choose-file{
    position: absolute;
    top: 21%;
    left: 9%;
}

.btn-upload-file{
    position: absolute;
    top: 59%;
    left: 18%;
}

.input-file{
    display: none;
}

.hr-up{
    position: absolute;
    width: 1016px;
    top: 150px;
}

.info{
    margin-bottom: 25px;
}

.sumir{
    display: none;
}


/* Buttons Styles */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */
.button6 {background-color: greenyellow;} /* Black */

