.root{
    background: black;
}

.container{
    width: 490px;
    margin: 0 auto;
    background: #FFFFFF;
    border: 5px solid yellow;
    border-radius: 3px;
    height: 468px;
    margin-top: 50px;
}

.header{
    height: 150px;
    border-bottom: 3px solid yellow;
    border-radius: 3px;
}

.header-logo{
    height: 150px;
    width: 490px
}

.quests{
    position: absolute;
    border-radius: 3px;
    width: 490px;
    height: 315px;
    background: black;
    color: yellow;
}

.btn-next{
    background-color: #4CAF50;
    border: solid;
    color: yellow;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    position: absolute;
    left: 40%;
}

.d-btn-sw{
    bottom: 0%;
    height: 60px;
    position: absolute;
    left: 0%;
    right: 0%;
}

.infos{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    position: absolute;
    right: 0%;
    left: 0%;
    bottom: 16%;
    top: 0%;
}

.p-name{
    text-align: center;
}

.p-infos{
    position: absolute;
    left: 15%;
}

.lb-films{
    position: absolute;
    left: 0%;
    right: 0%;
    text-align: center;
    bottom: 0%;
}

/* SW */



/* Buttons Styles */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}



.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */
.button6 {background-color: greenyellow;} /* Black */

